[Unit]
Description=Send Discord message on shutdown
DefaultDependencies=no
Before=poweroff.target reboot.target halt.target

[Service]
Type=oneshot
User=__USER__
Environment=HOME=__HOME__
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=__HOME__/pi_status_scripts/scripts/poweroff_status.sh

[Install]
WantedBy=halt.target reboot.target poweroff.target
