[Unit]
Description=Send Discord message on shutdown or reboot
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=__HOME__/pi_status_scripts/scripts/poweroff_status.sh
User=__USER__
Environment=HOME=__HOME__
Environment=PATH=/usr/bin:/bin:/usr/sbin:/sbin

[Install]
WantedBy=multi-user.target
